/* Styling for the body 
.body {
  background-color: #ffcf96;
} */
section {
  padding: 2em 2em;
}

img{
  display: block;
  max-width: 100%;
}
strong { font-weight: 900;}
.section__subtitle{
  margin: 0;
  font-size: 1.5rem
}
.section__subtitle--about {
  background: rgb(7, 92, 190);
  color: white;
  padding: .25em 1em;
}


/* Styling for the box containers */
.containerBottom {
  display: flex;
  grid-template-rows: auto;
  justify-content: center;
  align-items: auto;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 10px solid rgb(7, 92, 190);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #ffbe0b;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.box:hover {
  transform: scale(1.05);
  border-color: #4caf50;
}

/* Styling for the inner box */
.inner-box {
  background-color: #ffffff;
  color: #000000;
  padding: 30px;
  border: 10px solid rgb(7, 92, 190);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Styling for the title */
h1 {
  font-size: 60px;
  margin-bottom: 40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: purple;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the paragraph */
p {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  text-align: justify;
  color: #000000;
}

/* Styling for the select box */
select {
  background-color: #ffbe0b;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 300px;
  font-family: Arial, sans-serif;
}

/* Styling for the button */
button {
  background-color: #0bb2ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 300px;
  font-family: Arial, sans-serif;
}

.button:hover{
  transform: scale(1.1);
}

/* Styling for the prompt */
h4 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #000000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0);
}

/* Styling for the navigation bar */
.nav-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Styles for the navigation list */
.nav {
  display: flex;
  justify-content: right;
  background-color: rgb(18, 17, 95);
}

.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10;
}

.nav__item {
  margin: 0 10px;
}

/* Styles for the navigation links */
.nav__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #ff0000;
}

.myshowcase{
  background-color: transparent;
  /*background-image: url(songit2.jpg);*/
  color: white;
  background-blend-mode: multiply; 
  background-size: auto; 
  text-align: center;
}

.section__title--showcase::after {
  content: '';
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
  width: 20%;
  height: 2px;
  margin: 0.5em auto 1em;
  background: rgb(0, 119, 255);
  color: rgb(0, 119, 255);
  opacity: 0.25;

}


.showcase {
  max-width: 900px;
  color: white;
  height:auto;
  display: flex;
  max-height: 600px;
  margin:  auto;
}

.showcase + .showcase {
      margin-left: 20em;
      margin-right: 20em;
    }

.myshowcase h2,
.myshowcase h3,
.myshowcase p {
      color: #fff;
    }
.myshowcase h2{
  font-size: xx-large;
}
.about-me p{
  color: white;
}
.myshowcase p{
  text-align: center;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 20px;
}


html, body,head{
  background-image: url(songit2.jpg);
  background-color: rgba(0, 0, 0, 0.7); /* opacity*/
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.about-me {
  max-width: 1000px;
  margin: 0 auto;
  background-color: transparent;
  color: white;
}


@media(min-width: 600px) {
  .about-me{
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-template-areas: 
      "title img"
      'subtitle img'
      'text img';
      grid-column-gap: 2em ;
      color: black;
  }
  .section__title--about{
      grid-area: title;
     }

  .section__subtitle--about{
      grid-column: 1/-1;
      grid-row: 2;
      position: relative;
      left: -1em;
      width: calc(90%);
      padding-left: 1em;
      padding-right:1em;
      color: grey;;
  }
  .about-me__img{
      background-image: url(Compsci.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto ;
      grid-area: img;
      position: center;
      z-index: 2;
  }
  .about-me__body p{
    font-size: large;
  }
}

.about-me h5{
  font-size: xx-large;
  color: white;
}

.about-me .section__subtitle--about
{
  color: black;
}