<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fancy.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <style>
      .promptText {
        white-space: pre-wrap;
      }
    </style>
    <style>
      img {
          max-width: 100%;
      }
      </style>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
          const sel = document.getElementById("selectSongs");
          var songs = {{ songs | tojson
        }};
        console.log(songs);
        for (let key in songs) {
          const opt = document.createElement("option");
          opt.value = songs[key].songArtistName;
          opt.text = songs[key].songName + " by " + (songs[key].artist || "Unknown Artist");
          sel.add(opt, null);
        }
        $('#selectSongs').chosen({

          max_selected_options: 5,
          multiple: true,
        });
      });
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
    <meta charset="utf-8" />
    <title>SongIT</title>
  </head>

  <body> 
    <header>
      <button class = "nav-toggle" aria-label="toggle navigation">
        <span class="pretty"></span> 
      </button>
      <nav class = "nav">
        <ul class="nav__list">
            <li class = "nav__item"><a href="#home" class="nav__link">Home</a></li>
            <li class = "nav__item"><a href="#showcase" class="nav__link">Showcase Songs</a></li>
            <li class = "nav__item"><a href="#about" class="nav__link">Contact Us</a></li>
            <li class = "nav__item"><a href="#more" class="nav__link">More (coming soon...)</a></li>
        </ul>
      </nav>
    </header>

    <section class="myshowcase" id = "showcase">
      <h2 class="section__title section__title--showcase">Welcome to SongIT!</h2>
      <div class ="showcase">
          <div class ="show1">
              <h3>Step 1</h3>
              <p>Choose 2 - 5 inspiration songs</p>
          </div>

          <div class ="show2">
              <h3>Step 2</h3>
              <p> Provide 2 - 3 words you want to be in the song </p>
          </div>

          <div class ="show3">
              <h3>Step 3</h3>
              <p> Get your personalized song and enjoy</p>
          </div>
      </div>
      <!-- <button type = "button">Start Creating</a> -->
  </section>

    <body class="body">
      <div class="containerBottom">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    <!-- This div containerBottom needs to stay the same with the same class and the boxes need to be 300 by 300 -->
    <div class="container">
      <div class="inner-box">
        <!-- <h1>Welcome to SongIt!</h1> -->
        <p>
          Are you ready to write the next hit song? Pick up to 5 songs from our
          dropdown and bring your song to life.
        </p>
        <select id="selectSongs" multiple="multiple"></select> 
        <!-- This select songs Id is necessary and needs to keep the same id and multible -->
        <button type="button" id="returnDataPython">Click Me!</button>
        <!-- This button Id is necessary and needs to keep the same id -->
        <h4>Prompt Below</h4>
        <pre id="promptText">Returned Prompt</pre>
        <!-- This promptText needs to be the same and be in a <pre><\pre> -->
      </div>
    </div>
    <section class="about-me" id="about">
      <h5 class="section__title section__title--about">About Songit</h5>
      <p class = "section__subtitle section__subtitle--about">Practicum in Intelligent Information Systems Project</p>

      <div class="about-me__body">
          <p>Team Profile: <a href="Team Profile.pdf">Team Profile</a></p>
          <p>Hear from our users! <br> <a href="User Stories.pdf">User Stories</a></p>
          <p>Contact Info <br> Phone number: 22439925182 <br> E-mail: SongIt@u.northwestern.edu <br>
          <!-- Link to my bio: <a href='bio.html'> Hannah Marques Bio</a> -->
      </p>
      </div>

      <img src="" class="about-me__img">
  </section>
  </body>
</html>
