<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script type="text/javascript">
    console.log({{ songs }})
    // var username = {{ songs }}
    console.log(username)
  </script>
  <script type="text/javascript" src="app.js"></script>

  <meta charset="utf-8">
  <title>About Flask</title>
</head>
o
<body>
  <h1> About Flask </h1>
  <p> Flask is a micro web framework written in Python.</p>
  <p> Applications that use the Flask framework include Pinterest,
    LinkedIn, and the community web page for Flask itself.</p>
  <button type="button">Click Me!</button>
</body>

</html>